// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

/* Import the valo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the valo theme */
  @include valo;
  
  .v-label-info {
	border-color:#197DE1;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 2px 0 rgba(102, 153, 255, 0.5), -2px -2px 0
		rgba(102, 153, 255, 0.5), -2px 2px 0 rgba(102, 153, 255, 0.5), 2px
		-2px 0 rgba(102, 153, 255, 0.5);
	border-radius: 8px;
	padding: 8px;
}

.v-textfield-barcode-large {
	font-family: monospace;
	background-color: transparent !important;
	border-top-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
	border-left-style: none !important;
}

.v-textfield-barcode-preview {
	font-family: monospace;
	font-size: 75% !important;
	background-color: transparent !important;
	border-top-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
	border-left-style: none !important;
}

.large_font_awesome .v-icon {
	color: blue;
	font-size: 20px;
}

.v-caption-awesomecaption .v-captiontext {
	font-family: FontAwesome;
}

.v-icon-bigicon {
	color: #197DE1;
	font-size: 30px;
	border: none;
	border-style: none;
	background: transparent;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: none;
}

.v-table-cell-content-red-hue {
	color: black;
	background: #fc9272;
	font-weight: bold;
}

.v-table-cell-content-yellow-hue {
	color: black;
	background: #fee391;
	font-weight: bold;
}

.v-table-cell-content-blue-hue1 {
	color: black;
	background: #d0d1e6;
	font-weight: bold;
}

.v-table-cell-content-blue-hue2 {
	color: black;
	background: #a6bddb;
	font-weight: bold;
}

.v-table-cell-content-blue-hue3 {
	color: white;
	background: #74a9cf;
	font-weight: bold;
}

.v-table-cell-content-blue-hue4 {
	color: white;
	background: #3690c0;
	font-weight: bold;
}

.v-table-cell-content-blue-hue5 {
	color: white;
	background: #0570b0;
	font-weight: bold;
}

.v-table-cell-content-blue-hue6 {
	color: white;
	background: #034e7b;
	font-weight: bold;
}

  /* Insert your theme rules here */
  .portlet-footer {
    font-size: 9pt;
    text-align: right;
    padding-top: 50px;
  }
}
