# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
target/

# Some of our applications generate logs, which should be ignored by git
logs/

# Other
**/.factorypath

# compiled Vaadin widgetsets
src/main/webapp/VAADIN/widgetsets

src/main/resources/local.properties
src/main/resources/developer.properties
